.vscode/*
animux_*
cert_https/*

mongo/aligned_id/*
mongo/animux/*
mongo/backup_mongo/*
mongo/deezer/*
mongo/discogs/*
mongo/old_animux/*

node_modules/*

public/AmpSim3/*
public/AmpSimFA/*
public/bower_components/*
public/download/*
public/TER-Pedalboard-creation/*
public/my_components/MT5/multitrack/*

routes/conf/confJwt.json
routes/conf/login.json