# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/*
public/bower_components/*

# misc
.DS_Store
.vscode/*

# protected
animux_*
cert_https/*

mongo/aligned_id/*
mongo/animux/*
mongo/backup_mongo/*
mongo/deezer/*
mongo/discogs/*
mongo/old_animux/*

public/AmpSim3/*
public/AmpSimFA/*
public/download/*
public/TER-Pedalboard-creation/*
public/my_components/MT5/multitrack/*
public/AmpDesigner/*
public/BackEnd-WASABI/*
public/WebAudioPluginBank/*
public/pedalboarddev/*
public/dynamicPedalboard/*
public/extras/*

routes/conf/confJwt.json
routes/conf/login.json